In [1]:
import pandas as pd

from utils import *

In [2]:
created_data = get_data(filename='tiny_dataset.parquet', frac=0.0005)

File /Users/thomasfuller/ML/spectrum/data/tiny_dataset.parquet not found
Generating data from base data set...
Reading data from /Users/thomasfuller/ML/spectrum/data/DB_for_chromophore_Sci_Data_rev02.csv...

Taking a random sample of 10 rows...

Calculating 1613 Mordred descriptors for each row...

 60%|██████    | 6/10 [00:01<00:02,  1.46it/s]

/Users/thomasfuller/ML/spectrum/envs/lib/python3.8/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/Users/thomasfuller/ML/spectrum/envs/lib/python3.8/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

100%|██████████| 10/10 [00:03<00:00,  3.02it/s]

/Users/thomasfuller/ML/spectrum/envs/lib/python3.8/site-packages/numpy/core/fromnumeric.py:87: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
Cleaning data...
	Initial data shape: (10, 1613)
	Final data shape: (10, 1613)

In [3]:
created_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Columns: 1625 entries, SMILES to mZagreb2
dtypes: bool(1), float64(1623), object(1)
memory usage: 127.0+ KB

In [4]:
created_data

,SMILES,LambdaMaxAbs,LambdaMaxEm,Lifetime,QY,LogExtCoeff,AbsFWHMcm-1,EmFWHMcm-1,AbsFWHMnm,EmFWHMnm,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,Oc1ccccc1/C=N/c1ccc(Cn2cncn2)cc1,290.006380,363.993739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.668841,67.406753,278.116761,7.946193,1111.0,26.0,106.0,120.0,5.305556,4.694444
1,c1ccc(-c2c3ccc(=[N+]4CCCCC4)cc-3oc3cc(N4CCCCC4...,565.000000,585.000000,NaN,0.890,5.025306,NaN,NaN,NaN,37.0,...,10.551507,68.558344,423.243090,6.718144,2820.0,56.0,178.0,215.0,6.611111,6.944444
2,CC(=O)OC[C@H]1O[C@@H]([C@@H]2C=C(Cl)C(=S)NC2=O...,440.000000,NaN,NaN,NaN,1.579784,NaN,NaN,NaN,NaN,...,10.134083,76.194184,419.044165,9.312093,1749.0,41.0,136.0,157.0,11.972222,5.916667
3,Fc1ccc(-c2cc3ccc4cc(-c5ccc(F)cc5)cc5ccc(c2)c3c...,NaN,409.822310,NaN,0.050,NaN,NaN,NaN,NaN,42.3,...,10.628400,66.625497,390.122007,8.480913,2493.0,56.0,174.0,213.0,7.333333,6.277778
4,[O-]c1c(-c2ccccc2)cc(-[n+]2c(-c3ccccc3)cc(-c3c...,536.416510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.781848,80.842419,551.224915,7.655902,5646.0,75.0,234.0,281.0,9.694444,9.444444
5,C(=C/c1ccc(-c2ccncc2)cc1)\c1ccc(-c2ccncc2)cc1,345.000000,387.000000,0.85,0.970,NaN,NaN,NaN,NaN,56.4,...,9.997843,60.658630,334.146999,7.594250,2077.0,37.0,134.0,154.0,5.666667,5.805556
6,CN(C)c1ccc(/C=C/c2cc[n+](CCCCCCCCCCCC[n+]3ccc(...,476.000076,601.999843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.333613,82.842226,616.449401,6.043622,13417.0,61.0,222.0,246.0,13.111111,10.472222
7,N#Cc1ccc(C[C@H](N)C(=O)O)cc1,NaN,NaN,4.00,0.071,NaN,NaN,NaN,NaN,NaN,...,9.108197,44.705384,190.074228,7.919759,337.0,17.0,64.0,70.0,5.944444,3.277778
8,CCN(CC)c1ccc([N+]2=Cc3ccc4c5c(ccc4c3O[B-]2(c2c...,552.000000,644.000000,NaN,0.290,4.550228,NaN,NaN,108.5,131.3,...,11.409308,104.332818,836.443288,7.088502,17332.0,130.0,358.0,445.0,16.125000,14.250000
9,CCC(=O)c1ccc2cc(N(C)C)ccc2c1,359.000000,461.000000,3.12,0.750,NaN,NaN,NaN,NaN,65.0,...,9.701188,49.715747,227.131014,6.680324,532.0,26.0,86.0,100.0,6.416667,3.833333

In [5]:

bool_column = created_data.columns[created_data.dtypes == 'bool']
bool_column

Index(['Mol'], dtype='object')